.eventContainer {
    position: relative;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
  }
  
  .eventTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .eventPrice {
    position: absolute;
    bottom: 5px; /* Adjust the bottom padding as needed */
    right: 5px; /* Adjust the right padding as needed */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
  }
  