.ofertyHeader {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.offerDeadline {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 10px;
    background-color: #e0f7fa; /* Light cyan background */
    border: 1px solid #00796b; /* Dark teal border */
    border-radius: 5px;
    margin: 20px auto; /* Center the box horizontally with margin auto */
    max-width: 600px; /* Max width of the box */
}

.offerDeadlineText {
    font-size: 18px;
    color: #00796b; /* Dark teal color for the text */
    text-align: center;
}
