.nav {
    background-color: white; /* Zmiana koloru tła na biały */
    color: black; /* Zmiana koloru tekstu na czarny */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Zmiana koloru linii na cieniutką, ledwo widoczną szarą */
}

.left, .right {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px; /* Możesz dostosować rozmiar ikony */
    height: 24px;
    margin-right: 10px;
}

.link {
    margin-right: 20px;
    cursor: pointer;
    color: black; /* Czarny tekst dla linków */
    text-decoration: none;
    font-size: large;
}

.currency {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.moneyIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.currencyValue {
    font-size: 16px;
    color: black;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    font-size: medium;
    margin: 5px 1em;
}

.button:hover {
    background-color: #45a049;
}
