/* styles/Oferty.module.css */
.ofertyHeader {
    display: flex;
    align-items: center;
    justify-content: start; /* Rozpocznij wyświetlanie od lewej strony */
}

.title {
    margin-right: 50px;
    margin-left: 30px; /* Dodaj odstęp między tytułem a przyciskami */
}

.button1 {
    margin-right: 20px; /* Odstęp między przyciskami */
    padding: 8px 30px; /* Dostosuj rozmiar przycisków */
    background-color: #0070f3; /* Niebieskie tło */
    color: white; /* Biały tekst */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokrąglone rogi */
    cursor: pointer; /* Kursor wskazujący */
    font-size: 16px; /* Większa czcionka */
}

.button2 {
    margin-right: 20px; /* Odstęp między przyciskami */
    padding: 8px 30px; /* Dostosuj rozmiar przycisków */
    background-color: #e70303; /* Niebieskie tło */
    color: white; /* Biały tekst */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokrąglone rogi */
    cursor: pointer; /* Kursor wskazujący */
    font-size: 16px; /* Większa czcionka */
}

.button:hover {
    background-color: #0056b3; /* Ciemniejsze tło po najechaniu */
}
